<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4e9e9; 
        }
        .container{
            width: 80%;
            margin: 0 auto;
            margin-top: 250px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        button{
            background-color: #E0FFFF;
            border: 0;
            padding: 5px;
        }
    </style>
    <title>Empresa</title>
</head>
<body>
      <div class="container">
            <h1>Editar Empregado</h1>
            <form action="http://localhost:3000/update" method="post">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" value="{{results_data.nome}}">
                <br>
                <label for="departamento">Departamento:</label>
                <br>
                <select name="departamento" id="departamento">
                    <option value="1">1 - Administrativo</option>
                    <option value="2">2 - Designer</option>
                    <option value="3">3 - Contábil</option>
                    <option value="4">4 - Fábrica</option>
                </select>
                <label for="salario_bruto">Salário Bruto:</label>
                <input type="number" step="0.01" name="salario_bruto" value="{{results_data.salario_bruto}}">
                <br>
                <input type="hidden" id="departamento_original" value="{{results_data.departamento}}">
                <input type="hidden" name="id_for_updating" value="{{id}}">
                <input type="submit" value="Editar">
            </form>
      </div>
      <script>
        document.querySelector("#departamento").value = document.querySelector("#departamento_original").value;
      </script>
</body>
</html>